.p{
    font-size: 150px;
}
.theme{
    font-size: 90px;
    text-align: center;
    justify-content: center;
}
.buton{
    width:200px;
    height: 80px;
    background-color:black;
    color: aqua;
}