.head{
    width: 100%;
    height: 150px;
    background: #fff;
    display: flex;
    align-items: center;
 
}
.midhead{
    display: flex;
    justify-content: space-evenly;
}
.box{
    display: flex;
    width: 100%;
    height: 130px;
    padding: 9px 10px 9px 10px;
    min-height: 60px;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    box-shadow: 0 5px 10px #ccc;
}
.new{
    align-items: center;
    box-sizing: border-box;
    margin-left: 50px;
    max-width: 300px;
}
.container2{
    background: #f5f7fa;
    width: 100%;
    display: flex;
    align-items: center;
}
.box2{
    margin: 0 auto;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.p{
    padding: 20px 0;
}
body{
    color: #000;
    margin: 0 auto;
    font-weight: 400;
    font-size: 27px;
    width: 100%;
    font-family: Inter,sans-serif;
}
.container3{
    width: 1071px;
    margin-left: 70px;
    margin-top: 150px;
    padding: 130px 0 100px;
}
.bg{
    background: #fff;
    width:100%;
}
.text{
    position: relative;
    width: fit-content;
    padding-bottom: 12px;
    font-size: 40px;
    color: #000;
    font-weight: 700;
    line-height: 24px;
}
.line{
    background-color: #00BAF2;
    border-right:300px solid #002970;
    width:312px;
    height: 10px;
    margin-top: 15px;
}
.container4{
    margin: 80px 0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 70px;
}
.box_1{
    position: relative;
    width: 24%;
    background: #f0fbff;
    border-radius: 14px;
    padding: 100px;
    font-size: 40px;
    color: #000;
    font-weight: 400;
    line-height: 55px;
    height: 24%;
}
.lm{
    color:#00BAF2;
}
.container5{
    display: flex;
    margin-top: 200px;
    margin-left: 150px;
    justify-content: space-between;
}
.box_2{
    font-size: 40px;
    color: #000;
    font-weight: 400;
    line-height: 55px;
    width:600px;
}
.box_3{
        font-size: 40px;
        color: #000;
        font-weight: 400;
        line-height: 55px;
        width:600px;
        text-align: center;
}
.margin{
    margin-left: 121px;
}
.size{
    font-size: 30px;
    color: #4f4f4f;
    margin: 0px;
}
.lines{
    border-bottom:3px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container6{
    display: flex;
    margin-top: 500px;
    justify-content: space-around;
}
.foot{
    position: relative;
    width: auto;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    line-height: 25px;
}
.line2{
    background-color: #00BAF2;
    border-right:140px solid #002970;
    width:140px;
    height: 10px;
    margin-top: 15px;
    margin-left: 160px;
}
.marbot{
    margin: 0px;
}
.mar{
    margin-top: 150px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
}
h2{
    margin: 20px;
    font-size: 80px;
    color: #000;
    font-weight: 600;
    line-height: 100px;
    width: 1500px;
    height: 147px;
    text-align: center;
}
.container7{
    display: flex;
    margin-top: 200px;
    margin-left: 150px;
    font-size: 80px;
    justify-content:center
}
.containermain{
    width: 2600px;
    margin: auto;
    align-items: center;
}
.endside{
    background: #f5f7fa;
    padding: 90px 0 0;
    height: 1000px;
}
.boxwrite{
    width: 230px;
    height: 10px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}
img{
    margin: 10px;
}
.container8{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    height: 100px;
    margin-left: 100px;
}
.margi{
    margin-left: 100px;
    margin-right: 100px;
}

.ends{
    padding: 15px 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    font-size: 14px;
    color: #505050;
    font-weight: 700;
}
.font{
    width: 100%;
}
.setmargin{
    margin-left: 300px;
}
.setrit{
    margin-right: 200px;
}
.p1{
    zoom:50%;
}
.foot{
    background-color: #f5f7fa;
    font-size: 25px;
    padding-left: 350px;
    padding-right: 350px;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #505050;
}
.title {
    flex-grow: 0;
    padding-right: 1rem;
    padding-left: 2rem;
 }
.divider {
    flex-grow:20;
    border-bottom: 1px solid #ccc;
}
.blk{
    height: 12px;
    content: "";
    display: block;
    background-color: #00baf2;
    height: 24px;
}
.lbg{
    background-color: #002970;
}
.ini{
    display: flex;
    flex-direction: row;
    width: 1500px;
}
.padd{
    padding-left: 50px;
    text-align:start;
    line-height: 40px;
    width: 450px;
    padding-top: 20px;
}
._2blcs {
    position: relative;
    width: auto;
    height: auto;
}
._iYPz{
    display: flex;
    flex-wrap: row;
    width: auto;
    background: #00baf2;
    padding: 2px 1px 2px 20px;
    border-radius: 50px;
   
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
._2blcs ._1YPz_ img {
    margin-left: 9px;
    margin: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.p2text{
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: 700;
    line-height: 24px;s
}
.p2line{
    background-color: #00BAF2;
    border-right:170px solid #002970;
    width : 170px;
    height: 10px;
    margin-left: 1370px;
}
.p2cont2{
    text-align: center;
    margin-top: 150px;
}
.p2font{
    font-size: 100px;
    color: #00baf2;;
}
.color{
    color: #002970;
}
.p2img{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 150px;
}
.p2font1{
   box-sizing: border-box;
    font-size: 54px;
    text-align: center;
    width: auto;
    line-height: 80px;
    height: auto;
}
.p2mar{
    margin-bottom: 100px;
}
.width{
    text-align: center;
    margin: auto;
    width: 1500px;
}
.p2line2{
    
    background-color: #00BAF2;
    border-right:80px solid #002970;
    width:80px;
    height: 10px;
    margin-left: 650px;
    margin-bottom: 100px;
}
.p2cont3{
    background:#e6ffff;
    display: flex;
    position: relative;
    width: 100%;
    height:1500px;
}
.p2image{
  padding-top: 280px;
  margin-left: 800px;
}
.p2text{
width: 750px;
position: absolute;
height: auto;
font-size: 90px;
line-height: 110px;
text-align: left;
margin-left: 520px;
margin-top: 600px;
}
.ptext{
width: 750px;
height: auto;
font-size: 30px;
text-align: center;
margin-left: 1150px;
margin-bottom: 10px;
font-weight: 700;
}
.p2text2{
width: 500px;
position: absolute;
height: auto;
font-size: 60px;
text-align: left;
margin-left: 520px;
margin-top: 1000px;
color: #00baf2;
font-weight: 600;
line-height: 80px;
}
.p2cont4{
    width: auto;
    height: auto;
}
.p2text3{
    width: 700px;
    height: 700px;
    font-size: 80px;
    font-weight: 600;
    color: #002970;
    margin-top: 200px;
    margin-left: 500px;
}
.cont1{
box-sizing: border-box;
position: relative;
width: auto;
height: 1300px;
left: 0px;
background: linear-gradient(116.75deg,#0085fe 7.32%,#00c6f0);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;
}
.irtext{
    position: absolute;
width: 1500px;
height: 265px;
margin-left: 300px;
margin-top: 120px;
font-weight: 600;
font-size: 130px;
line-height: 140px;

color: #FFFFFF;
}
.irtext2{
    position: absolute;
width: 1200px;
height: 133px;
margin-left: 300px;
top: 550px;
font-size: 50px;
line-height: 80px;
font-weight: 400;
color:#FFFFFF;
}
.irtext3{
position: absolute;
width: 500px;
height: 38px;
margin-left: 1800px;
margin-top: 130px;
font-weight: 600;
font-size: 50px;
color:#FFFFFF;
}
.irtext4{
position: absolute;
width: 200px;
height: 28px;
margin-left: 2450px;
margin-top: 150px;
font-weight: 600;
font-size: 30px;
line-height: 24px;

color: #FFFFFF;
}
.cont{
    display: flex;
    flex-direction:column ;
    margin-left: 1800px;
}
.p1box{
position: absolute;
width: 800px;
height: 270px;
top: 250px;
background: #E8F8FD;
border-radius: 15px;
}
.b1mar{
    top:550px;
}
.b2mar{
top: 850px;
}
.pdate{
position: absolute;
width: 20px;
height: 50px;
margin-left: 30px;
top: 8px;
font-weight: 800;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background:linear-gradient(116.75deg,#0085fe 7.32%,#00c6f0);
}
.pbox2{
position: absolute;
width: 100px;
height: 100px;
margin-left: 50px;
top: 58px;

background:linear-gradient(116.75deg,#0085fe 7.32%,#00c6f0);
border-radius: 10px;
}
.p3text{
width: 500px;
height: 48px;
margin-left: 159px;
font-weight: 600;
font-size: 40px;
line-height: 50px;

color: #000000;
}
.cont3{
position: absolute;
width: 1700px;
height: 46px;
margin-left: 350px;
margin-top: 1400px;
font-weight: 700;
font-size: 60px;
line-height: 34px;

color: #002970;

}
.colour{
   color:  #00baf2;
}
.vial{
    margin-top: 1400px;
    margin-left: 2550px;
    font-weight: 700;
    font-size: 30px;
}
.irimg{
    margin-left: 350px;
}
.cont4{
    display: flex;
    flex-direction: column;
}
.conta4{
    display: flex;
    flex-direction: row;
    background: #F6F6F6;
    width: auto;
    height: 1000px;
    justify-content: space-between;
    padding-left: 350px;
}

.ivbox{
    width:800px;
    height: max-content;
    background-color: #FFFFFF;
    margin-top: 30px;
    border-radius: 15px;
    margin-right: 80px;
}

.marginivr{
    margin-right:350px;
}
.write{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.ivfont{
    font-size: 40px;
    font-weight: 560;
    line-height: 60px;
}
.ivdate{
    font-size: 40px;
    margin-top: 30px;
    color:#4f4f4f;
    margin-bottom: 20px;
}
.cont5{
    display: flex;
    justify-content: center;
    height: 750px;
}
.ivbox2{
width: 730px;
height: 500px;
background: #002970;
border-radius: 15px;
margin-top: 130px;
margin-right: 60px;
margin-left: 30px;
padding: 10px;
}
.b2text{
display: block;
width: 380px;
height: 91px;
font-style: normal;
font-weight: 550;
font-size: 40px;
line-height:55px;
color: #FFFFFF;
padding: 20px;
}
.intext{
display: flex;
flex-direction: column;
box-sizing: border-box;
width: 150px;
height: 50px;
background: #002970;
border: 1px solid #00BAF2;
border-radius: 10px;
margin-left: 110px;
text-align: center;
justify-content: start;
color:#00BAF2;
}
.ivtext3{
    display: flex;
    flex-direction: row;
}
.align{
    margin-top: 40px;
    font-size: 33px;
}
.box3iv{
    display: flex;
    flex-direction: row;
}
.cont6{
    display: flex;
    background-color:#00BAF2 ;
    width: auto;
    height: 1300px;
}
.division1{
    display: flex;
    flex-direction: column;
}
.witbg{
    background-color: #FFFFFF;
    width: 1000px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 80px 90px;
    height: 780px;
    margin-left: 350px;
}
.div1text{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.div1part2{
display: flex;
margin-top: 40px;
flex-direction: row;
align-items: center;
justify-content: flex-start;
}
._3RHUK {
    padding: 20px 0 25px;
    display: block;
    border-bottom: 1px solid #e0e0e0;
    transition: all .5s;
    color: #000;
}
.division2{
    display: flex;
    height: 1100px;
    margin-top: 10px;
    margin-left: 80px;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.div2text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;    
    width: 1000px;
    height: 25px;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 70px;
    border-radius: 15px;
}
.c6head{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    height: fit-content;
    margin-top: 60px;
    justify-content: space-between;
}
.ivfooter{
display: flex;
background-color: #FFFFFF;
width: auto;
height: 200px;
justify-content: space-around;
margin-top: 100px;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}